

/* Class/ID Selector Practice */

.odd-elements {
  background-color: rgb(225, 157, 169);
  font-family: Verdana, DejaVu Sans, sans-serif;
  font-size: 22px;
}

.odd-elements#cooler {
  font-size: 32px;
}

#id-group {
  color: #0000ff;
  font-size: 40px;
}

#id-group-two {
  background-color: hsl(120, 73%, 75%);
  font-size: 24px;
  font-weight: bold;
}

/* Grouping Selector Practice Below*/



.click-me,
.no-click-me {
  font-size: 28px;
  font-family: Helvetica, 'Times New Roman', sans-serif;
  cursor: pointer;
  border-radius: 8px;
}

/*Click Me Button */

.click-me{
  background-color: black;
  color: white;
}

.click-me:hover {
  background-color: lightgray;
  box-shadow: 5px 5px;
}


/* No Click Me Button*/

.no-click-me:hover {
  background-color: lightgray;
  box-shadow: 5px 5px;
}


.no-click-me{
  background-color: yellow;
  color: black;
}